
@media (max-width:768px) {
    .main_layout{
        background:url(https://images.pexels.com/photos/4430308/pexels-photo-4430308.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
        background-position: 50% 30%;
    }
}
.topnav{
    padding-top: 10px;
    padding-bottom: 0px;
    background: snow;
    font-family: 'Cinzel', "微軟正黑體";
    text-align: center;
    
}
.logo{
    color: brown;
    border: none;
    width: 200px;
    background: transparent;
    text-align: center;

}
.logo_title{
    font-size: 25px;
}
.logo_english_name{
    font-size: 16px;
}
.main_layout{
    /* position: relative; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    background:url(https://images.pexels.com/photos/4430308/pexels-photo-4430308.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-position: 50% 30%;
    padding-bottom: 100px;
    height: 100vh;
}
.search_box{
    width: 90%;
    max-width: 800px;
    height: 250px;
    background-color: gainsboro;
    opacity: 0.8;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}
.search_box input{
    flex: 1;
    height: 50px;
    width: 85%;
    max-width: 800px;
    padding: 10px 15px;
    border-radius: 30px;
    background: snow;
    margin-top: 30px;
    border: none;
}
.search_box input:focus{
    outline: none;
    border: none;
}
button{
    background: none;
    border: none;
    vertical-align: middle;
    cursor: pointer;
}
button:hover{
    color: brown;
}
form{
    margin-top: 10px;
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}
.toggle_check_btn{
    margin-top: 20px;
}
 

/* footer */
.footer{
    padding: 20px;
    text-align: center;
    background: snow;
    color: brown;
    font-family: 'Cinzel', "微軟正黑體";
}